/.ThingDescriptionJsonRuntimeModule.java._trace
/.ThingDescriptionJsonRuntimeModule.xtendbin
/.ThingDescriptionJsonStandaloneSetup.java._trace
/.ThingDescriptionJsonStandaloneSetup.xtendbin
/ThingDescriptionJsonRuntimeModule.java
/ThingDescriptionJsonStandaloneSetup.java
