/.ThingDescriptionJsonIdeModule.java._trace
/.ThingDescriptionJsonIdeModule.xtendbin
/.ThingDescriptionJsonIdeSetup.java._trace
/.ThingDescriptionJsonIdeSetup.xtendbin
/ThingDescriptionJsonIdeModule.java
/ThingDescriptionJsonIdeSetup.java
