/.ThingDescriptionGenerator.java._trace
/.ThingDescriptionGenerator.xtendbin
/.ThingDescriptionJsonGenerator.java._trace
/.ThingDescriptionJsonGenerator.xtendbin
/ThingDescriptionGenerator.java
/ThingDescriptionJsonGenerator.java
