/.HelloWorldProject.java._trace
/.ThingDescriptionJsonProjectTemplateProvider.java._trace
/.ThingDescriptionJsonProjectTemplateProvider.xtendbin
/HelloWorldProject.java
/ThingDescriptionJsonProjectTemplateProvider.java
